.collection-item {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  cursor: pointer;
}

.error-text {
  color: #f00;
  font-weight: 600;
}

.vote-box {
  display: flex;
  align-items: center;
}

.thumb-up {
  margin-right: 0.5rem;
}
